## Tasks

### I. Clean the files and combine them into one final DataFrame.

- This dataframe should have the following columns:
    - Hero (Just the name of the Hero)
    - Publisher
    - Gender
    - Eye color
    - Race
    - Hair color
    - Height (numeric)
    - Skin color
    - Alignment
    - Weight (numeric)
    - Plus, one-hot-encoded columns for every power that appears in the dataset. E.g.:
        - Agility
        - Flight
        - Superspeed

Hint: There is a space in "100 kg" or "52.5 cm"



### II. Use your combined DataFrame to answer the following questions.

- Compare the average weight of super powers who have Super Speed to those who do not.
- What is the average height of heroes for each publisher?

In [359]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os,json

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints', 'superhero_info.csv', 'superhero_powers.csv']

In [360]:
df1=pd.read_csv('Data/superhero_info.csv')
df2=pd.read_csv('Data/superhero_powers.csv')

In [361]:
df1.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [362]:
df2.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [363]:
df1['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [364]:
df1[['hero','publisher']]= df1['Hero|Publisher'].str.split('|',expand=True)

In [365]:
df1.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,hero,publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [366]:
df1=df1.drop(columns=['Hero|Publisher'])
df1.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,hero,publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [367]:

to_replace = ['{','}']

for char in to_replace:
    df1['Measurements'] = df1['Measurements'].str.replace(char,'',regex=False)
    
df1['Measurements'].head()

0    'Height': '203.0 cm', 'Weight': '441.0 kg'
1     'Height': '191.0 cm', 'Weight': '65.0 kg'
2     'Height': '185.0 cm', 'Weight': '90.0 kg'
3    'Height': '203.0 cm', 'Weight': '441.0 kg'
4    'Height': '193.0 cm', 'Weight': '122.0 kg'
Name: Measurements, dtype: object

In [368]:
df1[['h1','w1']]= df1['Measurements'].str.split(',',expand=True)
df1=df1.drop(columns=['Measurements'])
df1.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,hero,publisher,h1,w1
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,'Height': '203.0 cm','Weight': '441.0 kg'
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,'Height': '191.0 cm','Weight': '65.0 kg'

In [369]:
df1[['whaat','height(cm)','YAA']]= df1['h1'].str.split(' ',expand=True)
df1=df1.drop(['h1','YAA','whaat'],axis=1)
df1.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,hero,publisher,w1,height(cm)
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,'Weight': '441.0 kg','203.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,'Weight': '65.0 kg','191.0

In [370]:
df1[['w','woah','weight(kg)','w2']]= df1['w1'].str.split(' ',expand=True)
df1=df1.drop(['w','woah','w2','w1'],axis=1)
df1.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,hero,publisher,height(cm),weight(kg)
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,'203.0,'441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,'191.0,'65.0

In [371]:

to_replace = ["'"]

for char in to_replace:
    df1['height(cm)'] = df1['height(cm)'].str.replace(char,'',regex=False)
    df1['weight(kg)'] = df1['weight(kg)'].str.replace(char,'',regex=False)
    
df1.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,hero,publisher,height(cm),weight(kg)
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0,90.0
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0,441.0
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0,122.0

### df1 cleaing complete

In [385]:
df2.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [387]:
df3=df2['Powers'].str.split(',',expand=True)

In [388]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,Agility,Super Strength,Stamina,Super Speed,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Accelerated Healing,Durability,Longevity,Super Strength,Stamina,Camouflage,Self-Sustenance,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Agility,Accelerated Healing,Cold Resistance,Durability,Underwater breathing,Marksmanship,Weapons Master,Longevity,Intelligence,Super Strength,...,None,None,None,None,None,None,None,None,None,None
3,Lantern Power Ring,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Accelerated Healing,Intelligence,Super Strength,Stamina,Super Speed,Invulnerability,Animation,Super Breath,None,None,...,None,None,None,None,None,None,None,None,None,None

In [389]:
df3.dropna()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
563,Agility,Accelerated Healing,Dimensional Awareness,Stealth,Energy Absorption,Flight,Marksmanship,Longevity,Intelligence,Super Strength,...,Levitation,Time Travel,Illusions,Water Control,Omnilingualism,Time Manipulation,Invisibility,Sub-Mariner,Vision - Heat,Reality Warping

In [ ]:
df3[]

In [382]:
from sklearn.preprocessing import  OneHotEncoder

In [ ]:
# Stumped